@import url(//db.onlinewebfonts.com/c/2d130488c7306881cf236b40ea2a1020?family=SB+Sans+Display+Semibold);
@import url(//db.onlinewebfonts.com/c/c68e21ad1a10803b1ef491fd0392b067?family=SB+Sans+Text);

.App {
    height: 100vh;
    background: #F5F8FF;
    padding: 0;
    margin: 0;
}
